= b3_form_for @test_model do |f|
  = f.text_input     :email, wrapper_html: { id: 'text' }
  = f.password_input :email, wrapper_html: { id: 'password' }
  = f.search_input   :email, wrapper_html: { id: 'search' }
  = f.url_input      :email, wrapper_html: { id: 'url' }
  = f.email_input    :email, wrapper_html: { id: 'email' }
  = f.number_input   :email, wrapper_html: { id: 'number' }

  = f.checkbox_input :email, wrapper_html: { id: 'checkbox' }
