= b3_form_for @task do |f|
  = f.text_input :title

  = f.inline_checkboxes do
    = f.checkbox_input :title
    = f.checkbox_input :title
    = f.checkbox_input :title

  = f.checkbox_input :title, wrapper_html: { id: 'checkbox' }

  = f.submit_button
