- @task.errors.add :title,       :blank
- @task.errors.add :description, :blank
- @task.errors.add :category,    :blank
- @task.errors.add :public,      :blank



%h1 Generated
%hr

.container
  %h2 Basic form, multiple columns

  = b3_form_for @task do |f|
    .row
      .col-lg-6
        = f.text_input :title
      .col-lg-6
        = f.text_area_input :description
    .row
      .col-lg-6
        = f.select_input :category do
          = f.blank_select_option
          = f.select_option :private
          = f.select_option :work, disabled: true
          = f.select_options({foo: 'foo_value', bar: 'bar_value'}, disabled: 'foo_value')
      .col-lg-6
        = f.radio_group :category, layout: :inline do
          = f.radio_option :private
          = f.radio_option :work
    .row
      .col-lg-6
        = f.checkbox_group :done_states do
          = f.checkbox_input :done
          = f.checkbox_input :really_done
      .col-lg-6
        = f.checkbox_input :public
    .row
      .col-lg-12
        = f.form_actions do
          = f.submit_button

.container
  %h2 Horizontal form, labels above, hints aside, errors below

  = b3_horizontal_form_for @task do |f|
    - f.set_column :input, 'col-lg-6'
    - f.set_column :hint,  'col-lg-6'

    = f.text_input :title
    = f.text_area_input :description
    = f.select_input :category do
      = f.select_option :private
      = f.select_option :work, disabled: true
      = f.select_options({foo: 'foo_value', bar: 'bar_value'}, disabled: 'foo_value')
    = f.radio_group :category, layout: :inline do
      = f.radio_option :private
      = f.radio_option :work
    = f.checkbox_group :done_states do
      = f.checkbox_input :done
      = f.checkbox_input :really_done
    = f.checkbox_input :public
    
    = f.form_actions do
      = f.submit_button

.container
  %h2 Horizontal form, labels aside, hints and errors below

  = b3_horizontal_form_for @task do |f|
    - f.set_column :label, 'col-lg-2'
    - f.set_column :input, 'col-lg-10'

    = f.text_input :title
    = f.text_area_input :description
    = f.select_input :category do
      = f.select_option :private
      = f.select_option :work, disabled: true
      = f.select_options({foo: 'foo_value', bar: 'bar_value'}, disabled: 'foo_value')
    = f.radio_group :category, layout: :inline do
      = f.radio_option :private
      = f.radio_option :work
    = f.checkbox_group :done_states do
      = f.checkbox_input :done
      = f.checkbox_input :really_done
    = f.checkbox_input :public

    = f.form_actions do
      = f.submit_button

.container
  %h2 Horizontal form, labels and hints aside, errors below

  = b3_horizontal_form_for @task do |f|
    - f.set_column :label, 'col-lg-2'
    - f.set_column :input, 'col-lg-4'
    - f.set_column :hint,  'col-lg-4'

    = f.text_input :title
    = f.text_area_input :description
    = f.select_input :category do
      = f.select_option :private
      = f.select_option :work, disabled: true
      = f.select_options({foo: 'foo_value', bar: 'bar_value'}, disabled: 'foo_value')
    = f.radio_group :category, layout: :inline do
      = f.radio_option :private
      = f.radio_option :work
    = f.checkbox_group :done_states do
      = f.checkbox_input :done
      = f.checkbox_input :really_done
    = f.checkbox_input :public

    = f.form_actions do
      = f.submit_button
